# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask
Flask-WTF
Flask-Bootstrap4

# Environment file handling
python-dotenv

# REST Stuff
requests

# Rendering stuff
misaka

# OpenAI
OpenAI

# Mistral AI
mistralai

# Anthropic 
anthropic

# Cerebras
cerebras_cloud_sdk
